*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    overflow: hidden;

}

.movie {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    flex-direction: column;
    flex-wrap: wrap;
}

.title {
    font-size: 2em;
}
.search_info {
    /* padding: 10px; */
    background: white;
    border-radius: 5px;
    width: 300px;
    margin: 10px;
}

#search {
    padding: 6px;
    width: 89%;
    border: none;
    border-radius: 5px;

    outline: none;
}

.submitBtn {
    border: none;
    font-size: 17px;
    /* text-align: center; */
    outline: none;
}







.box {
    padding: 10px;
    width: 25%;
    flex-basis: 25%;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}
.box img {
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
}
.box span {
    color: orange;
    display: inline-block;
    font-weight: bold;
    font-size: 25px;
}

.box .title {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;}

.box:hover .overlay {
    bottom: 0%;
}

.overlay h2 {
    margin-bottom: 10px;
    color: white;

}

.box .overlay {
    width: 100%;
    max-height: 100%;
    min-height: auto;
    position: absolute;
    bottom: -100%;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
    left: 0;
    transition: 0.5s;
    background-color: #0e0d0d8c;
}

.movie_info {
    display: flex;
    flex-wrap: wrap;

}